<!DOCTYPE html>
<style>
  .fl
  {
    float: left;
    width: 300px;
  }
  .fr
  {
    float: right;
    margin-right: 200px;
  }
  .mainbox
  {
    height: 600px;
  }

</style>
<p id="notice"><%= notice %></p>

<div class = "fl">
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=800x600&markers=size:small%7Ccolor:red%7C#{@lessee_request.latitude},#{@lessee_request.longitude}&key=AIzaSyA7ClwnGU9QTuNhY3DuVqM5K5YbWA7zJsI", alt: "Map" %>
</div>

<div class = "mainbox">
<div class = "fr">
<p>
  <strong>Latitude:</strong>
  <%= @lessee_request.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @lessee_request.longitude %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @lessee_request.radius %>
</p>

<p>
  <strong>City:</strong>
  <%= City.find(@lessee_request.city_id).city_name %>
</p>

<p>
  <strong>State:</strong>
  <%= State.find(@lessee_request.state_id).state_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= Country.find(@lessee_request.country_id).country_name %>
</p>

<p>
  <strong>Earliest movein date:</strong>
  <%= @lessee_request.earliest_movein_date %>
</p>

<p>
  <strong>Latest movein date:</strong>
  <%= @lessee_request.latest_movein_date %>
</p>

<p>
  <strong>Min duration:</strong>
  <%= @lessee_request.min_duration %>
</p>

<p>
  <strong>Max duration:</strong>
  <%= @lessee_request.max_duration %>
</p>

<p>
  <strong>Max rent:</strong>
  <%= @lessee_request.max_rent %>
</p>

<p>
  <strong>Max n roommates:</strong>
  <%= @lessee_request.max_n_roommates %>
</p>

<p>
  <strong>Max n housemates:</strong>
  <%= @lessee_request.max_n_housemates %>
</p>

<p>
  <strong>Private bath:</strong>
  <%= @lessee_request.private_bath %>
</p>

<p>
  <strong>Balcony:</strong>
  <%= @lessee_request.balcony %>
</p>

<p>
  <strong>Smoke:</strong>
  <%= @lessee_request.smoke %>
</p>

<p>
  <strong>Roommate gender:</strong>
  <%= @lessee_request.roommate_gender %>
</p>

<%= link_to 'Edit', edit_lessee_request_path(@lessee_request) %> |
<%= link_to 'Back', my_lessee_path %>

</div>
</div>
