<!DOCTYPE html>
<style>
  .fl
  {
    float: left;
    width: 450px;
    margin-left: 75px;
  }
  .fr
  {
    float: right;
    width: 450px;
    margin-right: 75px;
  }
  .mainbox
  {
    height: 600px;
  }

</style>
<p id="notice"><%= notice %></p>

<div class = "fl">
<p>
    <div id="map2"></div>
    <script>
      var map;
      var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map2'), {
          center: {lat: <%=@lessee_request.latitude%>, lng: <%=@lessee_request.longitude%>},
          zoom: 13
        });
        marker = new google.maps.Marker({
          position: {lat: <%=@lessee_request.latitude%>, lng: <%=@lessee_request.longitude%>},
          map: map
        });
        var circle = new google.maps.Circle({
            center: {lat: <%=@lessee_request.latitude%>, lng: <%=@lessee_request.longitude%>},
            radius: <%=@lessee_request.radius%> * 1609.344,
            fillColor: "#ff69b4",
            fillOpacity: 0.5,
            strokeOpacity: 0.0,
            strokeWeight: 0,
            map: map
        });
      }      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ClwnGU9QTuNhY3DuVqM5K5YbWA7zJsI&callback=initMap"
    async defer></script>
</p>
</div>

<div class = "mainbox">
<div class = "fr">
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Latitude</td>
      <td><%= @lessee_request.latitude %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= @lessee_request.longitude %></td>
    </tr>
    <tr>
      <td>Full Address</td>
      <td><%= Geocoder.search([@lessee_request.latitude, @lessee_request.longitude]).first.address %></td>
    </tr>
    <tr>
      <td>Radius</td>
      <td><%= @lessee_request.radius %></td>
    </tr>
    <tr>
      <td>Location</td>
      <td><%= Country.find(@lessee_request.country_id).country_name %>,  <%= State.find(@lessee_request.state_id).state_name %>,  <%= City.find(@lessee_request.city_id).city_name %></td>
    </tr>
    <tr>
      <td>Movin in Date</td>
      <td><%= @lessee_request.earliest_movein_date %>  to  <%= @lessee_request.latest_movein_date %></td>
    </tr>
    <tr>
      <td>Duration(Month)</td>
      <td><%= @lessee_request.min_duration %>  to  <%= @lessee_request.max_duration %></td>
    </tr>
    <tr>
      <td>Max Rent(USD)</td>
      <td><%= @lessee_request.max_rent %></td>
    </tr>
    <tr>
      <td>Max Number of Roommates</td>
      <td><%= @lessee_request.max_n_roommates %></td>
    </tr>
    <tr>
      <td>Max Number of Housemates</td>
      <td><%= @lessee_request.max_n_housemates %></td>
    </tr>
    <tr>
      <td>Balcony</td>
      <td>
	<% if @lessee_request.balcony == true %>
	    <%= 'Yes' %>
	<% else %>
	    <%= 'No' %>
	<% end %>
      </td>
    </tr>
    <tr>
      <td>Private Bath</td>
      <td>	
	<% if @lessee_request.private_bath == true %>
	    <%= 'Yes' %>
	<% else %>
	    <%= 'No' %>
	<% end %>
      </td>
    </tr>
    <tr>
      <td>Smoke</td>
      <td>
	<% if @lessee_request.smoke == true %>
	    <%= 'Yes' %>
	<% else %>
	    <%= 'No' %>
	<% end %>
      </td>
    </tr>
    <tr>
      <td>Roommate Gender</td>
      <td><%= @lessee_request.roommate_gender %></td>
    </tr>

  </tbody>
</table>


<%= link_to 'Edit', edit_lessee_request_path(@lessee_request), class: 'btn btn-primary' %> |
<%= link_to 'Back', my_lessee_path, class: 'btn btn-primary' %>

</div>
</div>
