<!--
<div class="center jumbotron">
 <h1>HoShr</h1>

  <h2>
    A Novel Way of Living
  </h2>
	<%= link_to "Properties", properties_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessor Requests", lessor_requests_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessee Requests", my_lessee_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Rooms", rooms_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Recommendation", recommendation_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "My Group", my_group_path, class: "btn btn-lg btn-primary" %>
</div>
-->


<!-- <% provide(:title, 'Search') %> -->

<%#Author: Hanting Ge%>
<% if logged_in? %>
	<div class= 'center jumbotron'>
		<h1>HoShr</h1>
		<h2>Find you next home</h2>
	</div>
	

	<ul class="nav nav-tabs">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="true">Property Search</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" id="lessee-tab" data-toggle="tab" href="#lessee" role="tab" aria-controls="lessee" aria-selected="false">Housemate Search</a>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent">
		<%# Property Search %>
		<div class="tab-pane active" id="property" role="tabpanel" aria-labelledby="property-tab">
			<%= form_tag(search_result_path, remote: true, method: :get) do %>
			<div class="row mb-5">
				<div class="form-group col-md-8">
					<%= label_tag(:city_name_search, 'LOCATION') %>
					<%= text_field_tag :city_name, nil, onkeyup: 'Rails.fire(this.form, "submit")', placeholder: 'Add a city, landmark, or address', class: 'form-control' %>
				</div>
			</div>
			<% end %>
			<div id="search_result"> </div>
		</div>

		<%# Lessee Search %>
		<div class="tab-pane fade" id="lessee" role="tabpanel" aria-labelledby="lessee-tab">
			<%= form_tag(lessee_result_path, remote: true, method: :get) do %>
				<div class="row mb-5">
					<div class="form-group col-md-8">
						<%= label_tag(:city_name_search, 'LOCATION') %>
						<%= text_field_tag :city_name, nil, onkeyup: 'Rails.fire(this.form, "submit")', placeholder: 'Add a city, landmark, or address', class: 'form-control' %>
					</div>
				</div>
			<% end %>

			<div id="lessee_result"> </div>
		</div>

	</div>

	

	<ul class="nav nav-tabs">
	<ul class="nav nav-tabs" id="myTab2" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="inv_req-tab" data-toggle="tab" href="#inv_req" role="tab" aria-controls="inv_req" aria-selected="true">Invitation Requests</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" id="inv_pend-tab" data-toggle="tab" href="#inv_pend" role="tab" aria-controls="inv_pend" aria-selected="false">My Group</a>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent2">
		<div class="tab-pane active" id="inv_req" role="tabpanel" aria-labelledby="inv_req-tab">	
			<% if @current_group.lessee_request.empty? %>
				<h3>No recommendation found. You need to post at least one lessee request</h3>
				<% elsif @group_info.empty? %>
				<h3>No recommendation found. You can adjust your request or wait a little longer.</h3>
				<% else %>
				<table class="table table-striped table-bordered">
				<thead>
				<tr>
					<th>Group</th>
					<th>Group Member</th>
					<th>Invite/Accept</th>
				</tr>
				</thead>

				<tbody>
					<% @group_info.each do |info| %>
					<tr>
						<td><%= info[:group].id%></td>
						<td>
						<% info[:group].users.each do |user| %>
						<span> <%= user.username %> </span>
						<% end %>
						</td>
						<td>
						<% if info[:received_invitation].nil? %>
							<% if info[:send_invitation].nil? %>
							<span>
							<%= link_to("Invite Group", send_invitation_path(info[:group].id), method: :post, class: "btn btn-primary")%>
							</span>
							<% else %>
							<span>Waiting for response</span>
							<% end %>
						<% else %>
							<span>
							<%= link_to("Join Group", accept_invitation_path(info[:received_invitation].id), method: :post, class: "btn btn-primary") %>
							</span>
						<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
				</table>
			<% end %>
		</div>

		
		<div class="tab-pane fade" id="inv_pend" role="tabpanel" aria-labelledby="inv_pend-tab">
			<%= link_to "My Group", my_group_path, class: "btn btn-lg btn-primary" %>
		</div>

	</div>
	




<% else %>
<div class="center jumbotron">
    <h1>HoShr</h1>
	<h2>Find your next home</h2>

	<ul class="nav nav-tabs">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
		</li>
		
		<li class="nav-item">
		<a class="nav-link" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Signup</a>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent">
	<%# Login %>
	<div class="tab-pane fade" id="login" role="tabpanel" aria-labelledby="login-tab">
    	<%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %> 
		
	</div>
	<div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
    	<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
		
  	</div>
  </div>
<%end%>