<div class="center jumbotron">
 <h1>HoShr</h1>

  <h2>
    A Novel Way of Living
  </h2>
	<%= link_to "Properties", properties_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessor Requests", lessor_requests_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessee Requests", my_lessee_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Rooms", rooms_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Recommendation", recommendation_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "My Group", my_group_path, class: "btn btn-lg btn-primary" %>
</div>
