<!--
<div class="center jumbotron">
 <h1>HoShr</h1>

  <h2>
    A Novel Way of Living
  </h2>
	<%= link_to "Properties", properties_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessor Requests", lessor_requests_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Lessee Requests", my_lessee_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Rooms", rooms_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Recommendation", recommendation_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "My Group", my_group_path, class: "btn btn-lg btn-primary" %>
</div>
-->


<!-- <% provide(:title, 'Search') %> -->

<style>
    .buttons
	{
		width: 100%;
		height: 1300px;
	}

    .img_class
	{
		width: 100%;
		height: 85%;
		border-radius: 15% 15% 0 0;
	}
    .imgs
	{
		width: 26%;
		height: 24%;
		float: left;
		margin-left: 5%;
		margin-top: 2%;
		border-radius: 15%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	div .text_tag {
	    text-align: center;
	    margin-top: 5%;
	}
    p
	{
		font-size: 1.1em;
		font-family: OCR A Std, monospace;
	}
	h6
	{
		font-size: 1em;
		font-family: OCR A Std, monospace;
	}


  
    

</style>

<%#Author: Hanting Ge%>
<% if logged_in? %>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="true">Property Search</a>
		</li>
		
		<li class="nav-item">
			<a class="nav-link" id="lessee-tab" data-toggle="tab" href="#lessee" role="tab" aria-controls="lessee" aria-selected="false">Housemate Search</a>
		</li>
	</ul>

	<div class="tab-content" id="myTabContent">
		<%# Property Search %>
		<div class="tab-pane active" id="property" role="tabpanel" aria-labelledby="property-tab">
			<%= form_tag(search_result_path, remote: true, method: :get) do %>
			<div class="row mb-5">
				<div class="form-group col-md-8">
					<%= label_tag(:city_name_search, 'LOCATION') %>
					<%= text_field_tag :city_name, nil, onkeyup: 'Rails.fire(this.form, "submit")', placeholder: 'Add a city, landmark, or address', class: 'form-control' %>
				</div>
			</div>
			<% end %>
			<div id="search_result"> </div>
		</div>

		<%# Lessee Search %>
		<div class="tab-pane fade" id="lessee" role="tabpanel" aria-labelledby="lessee-tab">
			<%= form_tag(lessee_result_path, remote: true, method: :get) do %>
				<div class="row mb-5">
					<div class="form-group col-md-8">
						<%= label_tag(:city_name_search, 'LOCATION') %>
						<%= text_field_tag :city_name, nil, onkeyup: 'Rails.fire(this.form, "submit")', placeholder: 'Add a city, landmark, or address', class: 'form-control' %>
					</div>
				</div>
			<% end %>

			<div id="lessee_result"> </div>
		</div>

	</div>
  <% if current_user.usertype == "Lessor"%>

	<div class="buttons">

		<div class="imgs">
			<%= link_to new_property_path do %>
			   <%= image_tag "post_house.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="lr">Post Your Property</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to my_lessor_path do %>
			   <%= image_tag "lessor.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="lr">Your Lessor Request</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to my_property_path do %>
			   <%= image_tag "my_property.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="lr">Your Property</p>
			</div>
		</div>

    </div>
  <% elsif current_user.usertype == "Lessee"%>

	<div class="buttons">
		<div class="imgs">
			<%= link_to new_lessee_request_path do %>
			   <%= image_tag "roommate.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="le">Find Roommate</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to lessor_requests_path do %>
			   <%= image_tag "house.jpg", class: "img_class"%>
			<% end %>
			<div class="text_tag">
				<p class="le">Find Property</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to recommendation_path do %>
			    <%= image_tag("recommendation.jpg", class: "img_class")%>
			<% end %>
			<div class="text_tag">
				<p class="le">Your Roommate Recommendation</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to my_group_path do %>
			   <%= image_tag "group.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="le">Your Group</p>
			</div>
		</div>

		<div class="imgs">
			<%= link_to my_lessee_path do %>
			   <%= image_tag "my_lessee.jpg", class: "img_class" %>
			<% end %>
			<div class="text_tag">
				<p class="le">Your Lessee Request</p>
			</div>
		</div>
    </div>
  <% end %>
	




<% else %>
<div class="center jumbotron">
    <h1>HoShr</h1>
	<h2>Find your next home</h2>
	<p>How We Work:</p>
	<h6>Please <%= link_to "click here", login_path %> to log in to show more options. For new uers, Please <%= link_to "click here", signup_path %> to sign up.</h6>
	<h6>Set your preference after login.</h6>
	<h6>Post at least one lessee request.</h6>
	<h6>Look at your recommendation, and invite ones you are interested in to form a group.</h6>
	<h6>Once you have formed a group, please post a new lessee request and search for properties.</h6>
	<h6>Select your favorite property and contact them.</h6>
	<h6>Enjoy your new home!</h6>
</div>
	
<%end%>
