<!DOCTYPE html>
<style>
  .form
  {
    width:37%;
    display:inline-block;
  }
  #map
  {
    width: 50%;
    display:inline-block;
    height: 540px;
  }
  .member{margin-left:3%; margin-top:2%;}
    .btn {
      width:35%;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      border: 2px solid #e96b56;
      background: #e96b56;
    }

</style>

<section id="team" class="team">
  <div class="container">

    <div class="row">
      <div class="col-lg-20 col-md-12 d-flex align-items-stretch">
        <div class="member">
          <div class="social">
            <h1 class="card-title text-center mt-3 mb-5">Log in</h1>
            <div class="col mx-auto">
		<%= form_with(model: lessor_request, local: true) do |form| %>
		  <% if lessor_request.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(lessor_request.errors.count, "error") %> prohibited this lessor_request from being saved:</h2>

		      <ul>
			<% lessor_request.errors.full_messages.each do |message| %>
			  <li><%= message %></li>
			<% end %>
		      </ul>
		    </div>
		  <% end %>

		  <table class="table">
		  <tbody>

		  <tr>
		    <%= form.label :earliest_movein_date %>
		    <%= form.date_select :earliest_movein_date %>
		  </tr>

		  <tr>
		    <%= form.label :min_duration %>
		    <%= form.number_field :min_duration %>
		  </tr>
		  
		  <tr>
		    <%= form.label :total_rent %>
		    <%= form.text_field :total_rent %>
		  </tr>
		  <%= hidden_field_tag :property_id, @property_id %>

		  </tbody>
		  </table>
		  <div class="actions">
		    <%= form.submit "Submit", class: "btn"  %>
		    
		  </div>
		<%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Team Section -->
