<p id="notice"><%= notice %></p>

<h1>Lessor Requests</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Property</th>
      <th>Earliest movein date</th>
      <th>Min duration</th>
      <th>Total rent</th>
      <th>Total rent currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessor_requests.each do |lessor_request| %>
      <tr>
        <td><%= lessor_request.property_id %></td>
        <td><%= lessor_request.earliest_movein_date %></td>
        <td><%= lessor_request.min_duration %></td>
        <td><%= lessor_request.total_rent %></td>
        <td><%= lessor_request.total_rent_currency %></td>
        <td><%= link_to 'Show', lessor_request %></td>
        <td><%= link_to 'Edit', edit_lessor_request_path(lessor_request) %></td>
        <td><%= link_to 'Destroy', lessor_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lessor Request', new_lessor_request_path %>
