<p id="notice"><%= notice %></p>

<h1 class="text-center my-5">
  <%= @user.username %>
</h1>

<h3 class="my-3">My Group:</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Occupation</th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.username %></td>
      <td><%= member.firstname.to_s + " " + member.lastname.to_s %></td>
      <td><%= member.email %></td>
      <td><%= member.age %></td>
      <td><%= member.gender %></td>
      <td><%= member.occupation %></td>
    </tr>
  <% end %>

  </tbody>
</table>




