<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
  }
  .btn-active{
    border: 2px solid #e96b56;
    background: #e96b56;
  }
  .btn-inactive{
    border: 2px solid #5a6268;
    background: #5a6268;
    cursor: not-allowed;
  }

  .body {
    height: 1000px;
  }

  .photo {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }

  .frame {
    width: 40%;
    height: 30%;
  }


  #inner {
    height: 100%;
  }
  #itemgroup {
	margin-top: 2%;
  }


</style>

<p id="notice"><%= notice %></p>

 <h1 class="text-center my-5">
  <%= @user.username + "'s group" %>
</h1>
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">
		<% @members.each do |member| %>
          <div class="col-lg-6" id="itemgroup">
            <div class="testimonial-item">
		    <% if member.avatar.attached? %>
		      <%= image_tag url_for(member.avatar.variant(combine_options: {resize: '256x256^', extent: '256x256', gravity: 'Center'})), class: "testimonial-img" %>
		    <% end %>
              <h3><%=member.username%></h3>
              <h4><%=member.email%></h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                <%= link_to "View Detail", member, class: "btn" %>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>
		<%end%>
        </div>

      </div>

  </div>
    <div class="row">
      <div class="col-12">
        <% if user_can_exit_group? %>
          <%= link_to "Quit Group", my_group_quit_path, method: :put, class: "btn btn-active" %>
        <% else %>
          <span class="btn btn-inactive">Quit Group</span>
        <% end %>
        <% if !is_matching_closed? %>
          <%= link_to "Close Matching", my_group_matching_close_path, method: :put, class: "btn" %>
        <% else %>
          <%= link_to "Open Matching", my_group_matching_open_path, method: :put, class: "btn" %>
        <% end %>
      </div>
    </div>
    </section><!-- End Testimonials Section -->
  





