<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @group.group_id %>
</p>

<p>
  <strong>N lessees:</strong>
  <%= @group.n_lessees %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
