<style>
  .photo
  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  table, div
  {
    text-align: center;
  }
  section
  {
    text-align: center;
    font-size: 15px;
  }
  .btn {
    width: 35%;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
  }
  .member{
    margin: 0 auto;
    margin-top:3%;
  }

</style>


<section id="team" class="team">
  <div class="container">

    <div class="row">
      <div class="col-lg-20 col-md-12 align-items-stretch">
        <div class="member">
          <div class="social">
          <h1>Update your profile</h1> 
            <div class="col mx-auto">
                         
              <%if @user.avatar.attached?%>
                <%= image_tag url_for(@user.avatar.variant(combine_options: {resize: '256x256^', extent: '256x256', gravity: 'Center'})), class: "photo"%>
              <%end%>
            <%= form_with(model: @user, local: true) do |form| %>
              <% if @user.errors.any? %>
                  <div id="error_explanation">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
          
                  <ul>
                      <% user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                      <% end %>
                  </ul>
                  </div>
              <% end %>
          
          
              <%= form.label :photo, "Profile Picture" %>
              <%= form.file_field :avatar %>
          
              <%= form.label :username %>
              <%= form.text_field :username %>
          
          
          
              <%= form.label :firstname %>
              <%= form.text_field :firstname %>
          
          
              <%= form.label :middlename, "M.I." %>
              <%= form.text_field :middlename %>
          
          
          
              <%= form.label :lastname %>
              <%= form.text_field :lastname %>
          
          
          
              <%= form.label :email %>
              <%= form.text_field :email %>
          
          
          
              <%= form.label :gender %>
              <%= form.select :gender, ['Male', 'Female', 'Other'] %>
          
          
          
              <%= form.label :occupation %>
              <%= form.text_field :occupation %>
          
          
          
              <%= form.label :age %>
              <%= form.number_field :age ,min: 1%>
          
              <%= form.submit yield(:button_text), class: "btn" %>
              <%= link_to 'Back', @user, class:'btn'  %>
          
          <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Team Section -->

