<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.dt
{
float:left;
margin-left: 3%;
margin-right: 3%;
}
th
{
text-align:center;
}
    .btn {
      width:50%;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      display: inline-block;
      padding: 12px 32px;
      border-radius: 50px;
      transition: 0.5s;
      line-height: 1;
      margin: 10px;
      color: #fff;
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
      border: 2px solid #e96b56;
      background: #e96b56;
    }
	p
	  {      
	  font-family: "Raleway", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
	  }

</style>
<p id="notice"><%= notice %></p>

<h1 class="text-center my-5">
  <%= @user.username %>
</h1>

<h3 class="my-3">My Property:</h3>


<%if @properties.count == 0%>
	<p>Please post at least one lessor request under any property you posted before.</p>
<%else%>
    <section id="services" class="services">
      <div class="container">
        <div class="row">
		<%i = 1%>
		<% @properties.each do |property| %>
          <div class="col-lg-6 align-items-stretch" id = "aaa">
            <div class="icon-box">
			  <div class="icon"><i class="fa fa-book"></i></div>
              <h4><%="Property " + i.to_s%></h4>
			  <%i = i + 1%>
              <table class="table">
				<tbody>
					<tr>
						<td>Property Address</td>
      					<td><%= property.street_address %></td>
					</tr>
					<tr>
						<td>Property Location</td>
      					<td><%= City.find(property.city_id).city_name + ', ' +  State.find(property.state_id).state_abbr + ', ' + Country.find(property.country_id).country_name%></td>
					</tr>
      				
					
				</tbody>
			  </table>
			<%= link_to 'Detail', property, class: 'btn' %>
			<%= link_to 'Cancel', property, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' }%>

            </div>
          </div>

		<%end%>
        </div>

      </div>
    </section>
<%end%>
