
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :firstname %>
      <%= f.text_field :firstname, :required => true%>

      <%= f.label :lastname %>
      <%= f.text_field :lastname , :required => true%>

      <%= f.label :gender %>
      <%= f.text_field :gender , :required => true%>

      <%= f.label :occupation %>
      <%= f.text_field :occupation , :required => true%>

      <%= f.label :age %>
      <%= f.text_field :age , :required => true%>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
      <small>Already have an account? <%= link_to "Login!", login_path %></small>
    <% end %>
  </div>
</div>


