<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .box_{
    margin: 0 auto;
    margin-top:5%;
  }
  .btn {
    width: 35%;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
  }
  .photo
  {
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  table, div
  {
    text-align: center;
  }
  table{margin-top:3%;}

</style>

<% provide(:title, @user.username) %>
<p id="notice"><%= notice %></p>

<section id="team" class="team">
<div class="container">

  <div class="row">
    <div class="col-lg-7 col-md-6 align-items-stretch box_">
      <div class="member">
        <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), class: "photo"%>
        <% end %>
        <h4><%=@user.username%></h4>
        <span><%=@user.email%></span>
          <table class="table">
          <tbody>
            <tr>
              <td>Username</td>
              <td><%= @user.username %></td>
            </tr>
            <tr>
              <td>Name</td>
              <td><%= @user.firstname.to_s + " " + @user.lastname.to_s %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Age</td>
              <td><%= @user.age %></td>
            </tr>
            <tr>
              <td>Gender</td>
              <td><%= @user.gender %></td>
            </tr>
            <tr>
              <td>Occupation</td>
              <td><%= @user.occupation %></td>
            </tr>
          </tbody>
        </table>
        <% if @user == current_user %>
          <%= link_to 'Edit Your Profile', edit_user_path(@user), class:"btn"%>
          <%if @user.usertype == "Lessee"%>
            <%= link_to 'New Home', new_lessee_request_path, class:"btn"%>  
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>
</section>

