<p id="notice"><%= notice %></p>

<p>
  <strong>State name:</strong>
  <%= @state.state_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @state.country_id %>
</p>

<p>
  <strong>Max latitude:</strong>
  <%= @state.max_latitude %>
</p>

<p>
  <strong>Min latitude:</strong>
  <%= @state.min_latitude %>
</p>

<p>
  <strong>Max longitude:</strong>
  <%= @state.max_longitude %>
</p>

<p>
  <strong>Min longitude:</strong>
  <%= @state.min_longitude %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
