<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :street_address %>
    <%= form.text_field :street_address %>
  </div>

   <div class="field">
    <%= form.label :country_id %>
    <%= form.collection_select(:country_id, Country.all, :id, :country_abbr, { :prompt => 'Select a Country', :selected => @property.country_id }, { class: 'form-control' }) %>
  </div>
  <div class="field">
    <%= form.label :state_id %>
	<% if !property.country_id.nil? %>
    	<%= form.collection_select(:state_id, State.find_by(country_id: @property.country_id), :id, :state_abbr, { :prompt => 'Select a State', :selected => @property.state_id }, { class: 'form-control' }) %>
	<%else%>
		<%= form.collection_select(:state_id, State.all, :id, :state_abbr, { :prompt => 'Select a State', :selected => @property.state_id }, { class: 'form-control' }) %>
    <%end%>

  </div>

  
  <div class="field">
    <%= form.label :city_id %>
    <% if !property.state_id.nil? %>
    	<%= form.collection_select(:city_id, City.find_by(state_id: @property.state_id), :id, :city_name, { :prompt => 'Select a City', :selected => @property.city_id }, { class: 'form-control' }) %>
    <% else %>
		<%= form.collection_select(:city_id, City.all, :id, :city_name, { :prompt => 'Select a City', :selected => @property.city_id }, { class: 'form-control' }) %>	
	<% end %>
  </div>
  
  

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>  

  <div class="field">
    <%= form.label :n_bedrooms %>
    <%= form.number_field :n_bedrooms %>
  </div>

  <div class="field">
    <%= form.label :n_bathroom %>
    <%= form.text_field :n_bathroom %>
  </div>

  <div class="field">
    <%= form.label :hasKitchen %>
    <%= form.check_box :hasKitchen %>
  </div>

  <div class="field">
    <%= form.label :hasSmokeDetector %>
    <%= form.check_box :hasSmokeDetector %>
  </div>

  <div class="field">
    <%= form.label :hasAirConditioning %>
    <%= form.check_box :hasAirConditioning %>
  </div>

  <div class="field">
    <%= form.collection_select(:type_id, Type.all, :id, :type_name, { :prompt => 'Select a type', :selected => @property.type_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
