<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  #map
  {
    width: 40%;
    float: left;
    height: 350px;
	margin-left: 10%;
	display: inline-block;
	margin-top: 5%;
  }
  .table
  {
    width: 600px;
	margin: 0 auto;
	margin-top: 5%;
  }
  .icon
  {
    width: 20px;
    height: 20px;
  }
  .carousel {
    width:350px;
    margin: 0 auto;
	display: inline-block;
	margin-top: 5%;
  } 
  .btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #e96b56;
    background: #e96b56;
  }
.show-image{width:100%; height:100%;}
.carousel-control-prev, .carousel-control-next{margin-top:10%;}
h1{margin-top:5%;}
</style>

<% provide(:title, @property.street_address) %>
    <h1>
        <%= @property.street_address%>
    </h1>

<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    
  </head>
  <body>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= @property.latitude %>, lng: <%= @property.longitude %>};
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          draggable: false,
          animation: google.maps.Animation.DROP,
          title: 'Hello World!'
      });
        marker.addListener('click', toggleBounce);
      }
      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7ClwnGU9QTuNhY3DuVqM5K5YbWA7zJsI&callback=initMap"
    async defer></script>
  </body>
</html>


<div class="upper">
<div id="map"></div>

<% if @property.avatar.attached? %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner w-100">
        <div class="carousel-item row no-gutters active">
          <div class="col d-flex justify-content-center">
            <div class="show-image-container">
              <%= image_tag(@property.avatar[0].variant(combine_options: {resize: '512x512^', extent: '512x512', gravity: 'Center'}), class: "show-image") %>
            </div>
          </div>
        </div>
        <% @property.avatar[1..-1].each do |image| %>
          <div class="carousel-item row no-gutters">
            <div class="col d-flex justify-content-center">
              <%= image_tag(image.variant(combine_options: {resize: '512x512^', extent: '512x512', gravity: 'Center'}), class: "show-image") %>     
            </div>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<% end %>

</div>
<div class="upper">
<table class="table" >
  <tbody>
  <tr>
    <td>Street address:</td>
    <td><%= @property.street_address %></td>
  </tr>
  
  <tr>
    <td>City:</td>
    <td><%= @property.city.city_name %></td>
  </tr>

  <tr>
    <td>State:</td>
    <td><%= @property.city.state.state_name %></td>
  </tr>

  <tr>
    <td>Country:</td>
    <td><%= @property.city.state.country.country_name %></td>
  </tr>

  <tr>
    <td>Zipcode:</td>
    <td><%= @property.zipcode %></td>
  </tr>

  <tr>
    <td>Number of bedrooms:</td>
    <td><%= @property.n_bedrooms %></td>
  </tr>

  <tr>
    <td>Number of bathroom:</td>
    <td><%= @property.n_bathroom %></td>
  </tr>

  <tr>
    <td>Ammenity:</td>
    <td>
      <% if @property.hasKitchen?%> 
        <%= image_tag "kitchen.png", class: "icon" %>
      <% end %>
      <% if @property.hasSmokeDetector?%> 
        <%= image_tag "no-smoking.png", class: "icon" %>
      <% end %>
      <%= image_tag "air-conditioner.png", class: "icon" %>
    </td>
  
  </tr>

  <tr>
    <td>Type:</td>
    <td><%= @property.type.type_name %></td>
  </tr>

  </tbody>
</table>
</div>

<%if current_user.id == @property.owner_id%>
	<%= link_to 'Edit Property Info', edit_property_path(@property), class: "btn" %> |
	<%= link_to 'Post this Property', new_lessor_request_path(:property_id => @property.id), class: "btn" %> |
	<%= link_to 'Upload Photo', photo_property_path(@property), class: "btn" %>
<%end%>

