<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  span {
    margin-left: 3%;
    vertical-align: middle;
  }

  th {
    text-align: center;
	font-size:10px;
  }

</style>
<p id="notice"><%= notice %></p>

<h1>Groups recommended for you:</h1>
<% if @current_group.lessee_request.empty? %>
  <h3>No recommendation found. You need to post at least one lessee request</h3>
<% elsif @group_info.empty? %>
  <h3>No recommendation found. You can adjust your request or wait a little longer.</h3>
<% else %>
    <section id="services" class="services">
      <div class="container">
        <div class="row">
		<%i = 1%>
		<% @group_info.each do |info| %>
          <div class="col-lg-12 align-items-stretch" id = "aaa">
            <div class="icon-box">
			  <div class="icon"><i class="fa fa-group"></i></div>
              <h4><%="Group " + i.to_s%></h4>
			  <%i = i + 1%>
				<table class="table">
				  <thead>
				  <tr>
					<th>Group Member</th>
					<th>Invite/Accept</th>
				  </tr>
				  </thead>

				  <tbody>
				  <tr>
					<td>
					  <% info[:group].users.each do |user| %>
						<span> <%= link_to ' ' + user.username.to_s, user, class: 'fa fa-male' %> </span>
					  <% end %>
					</td>
					<td>
					  <% if is_a_send_invitation?(info) %>
						<% if invitation_already_send?(info[:send_invitation]) %>
						  <span>Waiting for response</span>
						<% elsif current_user_agree?(info[:send_invitation]) %>
						  <span>You have agreed on sending the invitation, waiting others</span>
						  <span> <%= link_to("Withdraw agree", withdraw_decision_path(info[:send_invitation].id), method: :delete, class: "fa fa-times") %></span>
						<% elsif current_user_disagree?(info[:send_invitation]) %>
						  <span>You have disagreed on sending the invitation</span>
						  <span> <%= link_to("Withdraw disagree", withdraw_decision_path(info[:send_invitation].id), method: :delete, class: "fa fa-times") %></span>
						<% else %>
						  <span>Send an invitation to that group, Agree or Disagree?</span>
						  <span> <%= link_to("Agree", agree_on_sending_invitation_path(info[:send_invitation].id), method: :post, class: "fa fa-thumbs-up") %></span>
						  <span> <%= link_to("Disagree", disagree_on_sending_invitation_path(info[:send_invitation].id), method: :post, class: "fa fa-thumbs-down") %></span>
						<% end %>
					  <% elsif is_a_received_invitation?(info) %>
						<% if current_user_agree?(info[:received_invitation]) %>
						  <span>You have agreed on accepting the invitation, waiting others</span>
						  <span><%= link_to("Withdraw agree", withdraw_decision_path(info[:received_invitation].id), method: :delete, class: "fa fa-times") %></span>
						<% elsif current_user_disagree?(info[:received_invitation]) %>
						  <span>You have disagreed on accepting the invitation</span>
						  <span><%= link_to("Withdraw disagree", withdraw_decision_path(info[:received_invitation].id), method: :delete, class: "fa fa-times") %></span>
						<% else %>
						  <span>Accepting the request from that group, Agree or Disagree?</span>
						  <span> <%= link_to("Agree", agree_on_accepting_invitation_path(info[:received_invitation].id), method: :post, class: "fa fa-thumbs-up") %></span>
						  <span> <%= link_to("Disagree", disagree_on_accepting_invitation_path(info[:received_invitation].id), method: :post, class: "fa fa-thumbs-down") %></span>
						<% end %>
					  <% else %>
						<span><%= link_to("Invite Group", create_invitation_request_path(info[:group].id), method: :post, class: "fa fa-handshake-o") %> </span>
					  <% end %>
					</td>
				  </tr>
				  </tbody>
				</table>
				<table class="table">
				  <thead>
				  <tr>
					<th>City</th>
					<th>State</th>
					<th>Country</th>
					<th>Movein Date</th>
					<th>Duration(Month)</th>
					<th>Max Expect Rent(USD/house)</th>
					<th>Expect Housemates Number</th>
					<th colspan="3"></th>
				  </tr>
				  </thead>

				  <tbody>
				  <% info[:matched_requests].each do |lessee_request| %>
					<tr>
					  <td><%= City.find(lessee_request.city_id).city_name %></td>
					  <td><%= State.find(lessee_request.state_id).state_name %></td>
					  <td><%= Country.find(lessee_request.country_id).country_name %></td>
					  <td><%= lessee_request.earliest_movein_date.to_s + ' to ' + lessee_request.latest_movein_date.to_s%></td>
					  <td><%= lessee_request.min_duration.to_s + ' to ' +  lessee_request.max_duration.to_s%></td>
					  <td><%= lessee_request.max_rent %></td>
					  <td><%= lessee_request.max_n_housemates %></td>
					  <td><%= link_to 'Detail', lessee_request, class: 'fa fa-book'%></td>
					</tr>
				  <% end %>
				  </tbody>
				</table>
			  
            </div>
          </div>
		<% end %>
        </div>

      </div>
    </section>
<% end %>

