<p id="notice"><%= notice %></p>

<h1>Group recommendation</h1>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Group</th>
    <th>Group Member</th>
    <th>Invite/Accept</th>
  </tr>
  </thead>

  <tbody>
  <% @group_info.each do |info| %>
    <tr>
      <td><%= info[:group].id%></td>
      <td>
        <% info[:group].users.each do |user| %>
         <span> <%= user.id %> </span>
        <% end %>
      </td>
      <td>
        <% if info[:received_invitation].nil? %>
          <% if info[:send_invitation].nil? %>
            <span>
            <%= link_to("send merge invitation", send_invitation_path(info[:group].id), method: :post)%>
            </span>
          <% else %>
            <span>Waiting for response</span>
          <% end %>
        <% else %>
          <span>
            <%= link_to("accept merge invitation", accept_invitation_path(info[:received_invitation].id), method: :post) %>
          </span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


